extends ./../layout

block body
	div.row
		div.panel.panel-primary.center-block

			div.panel-heading
				h3.panel-title.text-center Login

			div.panel-body

				if flash && flash.err
					div.alert.alert-warning.alert-dismissible(role='alert')
						button.close(type='button', data-dismiss='alert', aria-label='Close')
							span(aria-hidden='true') &times;
						strong #{ flash.err.message }

				form(method='POST' action='/dashboard/auth/login')

					div.form-group
						label(for='username') Username
						input.form-control#username(type='username' name='username' placeholder='Username')

					div.form-group
						label(for='password') Password
						input.form-control#password(type='password' name='password' placeholder='Password')
					
					button.btn.btn-primary(type='submit') Login	
					a.btn.btn-link(href='/dashboard/user/create') Create Account
