doctype html
html
  head
    title #{ title }

    // Viewport mobile tag for sensible mobile support
    meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")

    block styles
    // STYLES
    link(rel="stylesheet", href="/vendor/styles/bootstrap.min.css")
    link(rel="stylesheet", href="/vendor/styles/bootstrap-theme.min.css")
    link(rel="stylesheet", href="/styles/importer.css")
    // STYLES END

  body

    nav.navbar.navbar-default
      div.container-fluid
        div.navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='loandash-navbar')
            span.sr-only Toggle Navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') LOANDASH
        div.collapse.navbar-collapse#loandash-navbar
          ul.nav.navbar-nav
            li(class=(navigation === 'user.list' ? 'active': ''))
              a(href='/dashboard/user/list') Users
                span.sr-only (current)
          ul.nav.navbar-nav.navbar-right
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false') Username
                span.caret
              ul.dropdown-menu(role='menu')
                li
                  a(href='#') Profile
                li
                  a(href='#') Settings
                li.divider
                li
                  a(href='/dashboard/auth/logout') Logout

    div.container
      block body

    // The linker searches for this tag and adds js.  If there's no linker, we point to sails.io.js
    // SCRIPTS
    script(src="/js/dependencies/sails.io.js")
    script(src="/vendor/js/jquery.min.js")
    script(src="/vendor/js/lodash.min.js")
    script(src="/vendor/js/moment-with-locales.min.js")
    script(src="/vendor/js/angular.min.js")
    script(src="/vendor/js/bootstrap.min.js")
    script(src="/vendor/js/ui-bootstrap.min.js")
    script(src="/vendor/js/ui-bootstrap-tpls.min.js")
    // SCRIPTS END



