extends ./../layout

block body
	div.row
		div.panel.panel-primary.center-block

			div.panel-heading
				h3.panel-title.text-center Create Account

			div.panel-body
				- var klass
				form(method='POST' action='/dashboard/user/create')

					div.form-group
						label(for='firstName') First name
						input.form-control#firstName(type='text', name='firstName', placeholder='First name')

					div.form-group
						label(for='lastName') Last name
						input.form-control#lastName(type='text', name='lastName', placeholder='Last name')

					- klass = ( (flash.err && flash.err.email) ? 'has-error' : '' );
					div.form-group(class=klass)
						label(for='email') Email
						input.form-control#email(type='email', name='email', placeholder='Email')
						if flash.err && flash.err.email
							each err in flash.err.email
								span.help-block #{err}

					div.form-group
						label(for='phoneNumber') Phone number
						input.form-control#phoneNumber(type='text', name='phoneNumber', placeholder='Phone number')

					- klass = ( (flash.err && flash.err.username) ? 'has-error' : '' );
					div.form-group(class=klass)
						label(for='username') Username
						input.form-control#username(type='text', name='username', placeholder='Username')
						if flash.err && flash.err.username
							each err in flash.err.username
								span.help-block #{err}

					- klass = ( (flash.err && flash.err.password) ? 'has-error' : '' );
					div.form-group(class=klass)
						label(for='password') Password
						input.form-control#password(type='password', name='password', placeholder='Password')
						if flash.err && flash.err.password
							each err in flash.err.password
								span.help-block #{err}

					- klass = ( (flash.err && flash.err.passwordConfirmation) ? 'has-error' : '' );
					div.form-group(class=klass)
						label(for='passwordConfirmation') Repeat password
						input.form-control#passwordConfirmation(type='password', name='passwordConfirmation', placeholder='Repeat password')
						if flash.err && flash.err.passwordConfirmation
							each err in flash.err.passwordConfirmation
								span.help-block #{err}

					if isAdmin
						fieldset
							legend User Attributes
							div.form-group
								label(for='admin') User Role
								select.form-control#admin(name='admin')
									option(value='false') User
									option(value='true') Administrator
							div.form-group
								label(for='activated') Account activated
								select.form-control#activated(name='activated')
									option(value='true') Yes
									option(value='false') No

					input.btn.btn-primary(type='submit', value='Submit')
					a.btn.btn-link(href='/dashboard/auth/login') Back
