extends ./../layout

block body
	div.row
		div.panel.panel-primary.center-block

			div.panel-heading
				h3.panel-title.text-center User List

			div.panel-body

				if flash && flash.err
					div.alert.alert-warning.alert-dismissible(role='alert')
						button.close(type='button', data-dismiss='alert', aria-label='Close')
							span(aria-hidden='true') &times;
						strong #{ flash.err.message }

				if flash && flash.info
					div.alert.alert-success.alert-dismissible(role='alert')
						button.close(type='button', data-dismiss='alert', aria-label='Close')
							span(aria-hidden='true') &times;
						strong #{ flash.info.message }

				table.table.table-hover
					thead
						tr
							th
								input#selectAll(type='checkbox', value='selectAll', name='selectAll')
							th Username
							th Email
							th Fullname
							th Phone 
							th Role
							th Actions
					tbody
						each user in users
							tr
								td
									input(type='checkbox', id=user.id, value=user.id, name=user.id)
								td #{ user.username }
								td #{ user.email }
								td #{ user.fullName() }
								td #{ user.phoneNumber }
								td #{ user.role() }
								td
									div.btn-group
										button.btn.btn-info.dropdown-toggle#user_tools(data-toggle='dropdown', aria-expanded='false')
											span.glyphicon.glyphicon-wrench(aria-hidden='true')
										ul.dropdown-menu(role='menu', aria-labelledby='user_tools')
											li(role='presentation')
												a(role='menuitem', tabindex='-1', href='/dashboard/user/#{ user.id }/update') Update details
											li(role='presentation')
												a(role='menuitem', tabindex='-1', href='/dashboard/user/#{ user.id }/remove') Remove user

				p Total 
					strong #{ total } records

				if pages
					nav.pull-left
						- var klass;
						ul.pagination
							- klass = ( current === 0 ? 'disabled' : '' );
							li( class = klass )
								- if ( current == 0 )
									a(href='#', aria-label='Previous')
										span(aria-hidden='true') &laquo;
								- else
									a(href='/dashboard/user/list/#{ current - 1 }/#{ limit }', aria-label='Previous')
										span(aria-hidden='true') &laquo;
							each page in pages
								- klass = ( current === page ? 'active' : '' );
								li( class = klass )
									a(href='/dashboard/user/list/#{ page }/#{ limit }') #{ page + 1 }
							- klass = ( current === pages[ pages.length - 1 ] ? 'disabled': '' );
							li( class = klass )
								- if ( current === pages[ pages.length - 1] )
										a(href='#', aria-label='Next')
											span(aria-hidden='true') &raquo;
								- else
										a(href='/dashboard/user/list/#{ current + 1 }/#{ limit }', aria-label='Next')
											span(aria-hidden='true') &raquo;

				div.dropdown.pull-right
					button.btn.btn-default.dropdown-toggle#row_select(type='button', data-toggle='dropdown', aria-expanded='false') #{ limit } records per page 
						span.caret
					ul.dropdown-menu(role='menu', aria-labelledby='row_select')
						li(role='presentation')
							a(role='menuitem', tabindex='-1', href='/dashboard/user/list/0/5') 5 records per page
						li(role='presentation')
							a(role='menuitem', tabindex='-1', href='/dashboard/user/list/0/10') 10 records per page
						li(role='presentation')
							a(role='menuitem', tabindex='-1', href='/dashboard/user/list/0/20') 20 records per page
						li(role='presentation')
							a(role='menuitem', tabindex='-1', href='/dashboard/user/list/0/50') 50 records per page
